@import "tailwindcss";

@theme {
  --color-primary: #360D13;
  --color-bgwhite: #F9F1E6;
  --color-bggray: #1C1E1B;
}

.playfair-400 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.playfair-600 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.playfair-800 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}



body, html, * {
    text-wrap: pretty;
    scroll-behavior: smooth;
}

.fadeIn p, .fadeIn h2, .fadeIn h3 {
  animation: fadeIn 0.8s ease-in-out forwards;
}

.fadeIn p:nth-child(1) {
  opacity: 0;
  animation-delay: 0s;
}

.fadeIn p:nth-child(2) {
  opacity: 0;
  animation-delay: 0.4s;
}

.fadeIn p:nth-child(3) {
  opacity: 0;
  animation-delay: 0.6s;
}

.fadeIn p:nth-child(4) {
  opacity: 0;
  animation-delay: 0.8s;
}

.fadeIn p:nth-child(5) {
  opacity: 0;
  animation-delay: 1s;
}

.fadeIn p:nth-child(6) {
  opacity: 0;
  animation-delay: 1.2s;
}

.fadeIn p:nth-child(7) {
  opacity: 0;
  animation-delay: 1.4s;
}

.fadeIn p:nth-child(8) {
  opacity: 0;
  animation-delay: 1.6s;
}

.fadeIn p:nth-child(9) {
  opacity: 0;
  animation-delay: 1.8s;
}

.fadeIn p:nth-child(10) {
  opacity: 0;
  animation-delay: 2s;
}

@keyframes fadeIn {
  from {
    transform: translateY(20px) scale(1.1);
    opacity: 0;
  }
  to {
    transform: translateY(0px) scale(1);
    opacity: 1;
  }
}

@keyframes fade-in-up {
  from {
    transform: translateY(10%) scale(1);
    opacity: 0;
  }
  to {
    transform: translateY(0px) scale(1);
    opacity: 1;
  }
}

.card {
  opacity: 0;
}

.card.show {
  animation: fade-in-up 0.6s ease-in-out forwards;
  animation-delay: 0.15s;
}