---
import CalendarIcon from "../icons/calendarIcon.astro";
import Counter from "../Counter.astro";
---

<section class="bg-bggray h-svh overflow-hidden p-12 lg:p-0">
  <div
    class="text-white container mx-auto flex flex-col items-center justify-end h-[80%]"
  >
    <div class="text-center mb-12 sm:mb-18 md:mb-24 lg:mb-32 xl:mb-44">
      <p class="italic text-lg lg:text-xl 2xl:text-2xl">Brenda y Carlos</p>
      <p class="font-bold text-5xl lg:text-6xl 2xl:text-7xl">¡Nos casamos!</p>
    </div>
  </div>
  <div class="text-center bg-bgwhite semicircle p-2 sm:p-8 text-primary -z-10 flex flex-col items-center ">
    <CalendarIcon class="size-6 mx-auto" />
    <p class="text-lg font-bold lg:text-2xl">9 de Enero</p>
    <p class="text-xs lg:text-base -mb-1 sm:mb-2 lg:mb-0">AGENDÁ LA FECHA</p>

    <Counter />
  </div>
</section>

<style>
  .semicircle {
    aspect-ratio: 8 / 6;
    width: 140%;
    transform: translateY(-7%) translateX(-14.4%);
    border-radius: 50% 50% 0 0;
    margin: 0 auto;
  }
</style>

<script is:inline>
  const isAppleDevice = /iPhone|iPad|iPod|Macintosh/i.test(navigator.userAgent);
  const googleBtn = document.getElementById("google-calendar-btn");
  const appleBtn = document.getElementById("apple-calendar-btn");

  if (isAppleDevice) {
    googleBtn.classList.add("hidden");
    appleBtn.classList.remove("hidden");
  }
</script>
