---
import CalendarIcon from "../icons/calendarIcon.astro";
---

<section class="bg-[#1C1E1B] h-dvh overflow-hidden">
  <div
    class="text-white container mx-auto flex flex-col items-center justify-end h-[80%] px-6 font-serif"
  >
    <div></div>

    <div class="text-center mb-24">
      <p class="italic text-lg">Brenda y Carlos</p>
      <p class="font-bold text-5xl">¡Nos casamos!</p>
    </div>
  </div>
  <div class="text-center bg-[#F9F1E6] semicircle p-8">
    <CalendarIcon class="size-6 mx-auto" />
    <p class="text-lg font-bold">9 de Enero</p>
    <p class="text-xs">AGENDÁ LA FECHA</p>

    <div id="countdown" class="text-4xl my-4">
      <p>00 : 00 : 00 : 00</p>
    </div>

    <a href="#" class="bg-[#360D13] text-white rounded-full px-3 py-1 text-sm">
      AGENDAR FECHA
    </a>
  </div>
</section>

<style>
  .semicircle {
    aspect-ratio: 8 / 6;
    width: 140%;
    transform: translateY(-5.5%) translateX(-14.25%);
    border-radius: 50% 50% 0 0;
    margin: 0 auto;
  }
</style>
