---

---

<section
  class="container mx-auto bg-bgwhite py-16 px-6 lg:px-8 leading-relaxed text-pretty flex flex-col items-center gap-4 text-center"
>
  <h2 class="text-4xl lg:text-5xl 2xl:text-6xl font-bold text-primary italic">
    Etiqueta de la velada
  </h2>

  <p class="text-primary text-xl lg:text-2xl 2xl:text-3xl mt-6">
    Nos inspira la belleza de aquello que es antiguo pero que permanece. <br
    />Por eso soñamos una celebración clásica, elegante y llena de pequeños
    detalles. <br />Nos encantará que nos acompañes con un estilo acorde a la
    ocasión para que, entre todos, podamos crear una atmósfera inolvidable. <br
    />Se encarece a los asistentes la propuesta de vestuarios elegantes de
    época.
  </p>

  <h3 class="text-2xl lg:text-3xl 2xl:text-4xl font-bold text-primary italic mt-4">
    Etiqueta sugerida
  </h3>
</section>
