---

---

<section class="bg-[#F9F1E6] text-[#360D13] p-4 lg:p-0 leading-relaxed text-pretty">
  <p class="text-center text-xl lg:text-2xl italic font-serif font-bold container mx-auto">
    “Hay encuentros que parecen casualidad, pero siempre fueron providencia.”
  </p>

  <p class="text-lg lg:text-xl font-serif text-center container mx-auto">
    Antes de que nuestros caminos se cruzaran, Dios ya estaba escribiendo esta
    historia. Y ahora, con alegría, elegimos hacer un pacto delante de Él y
    compartir ese momento con quienes han
  </p>
</section>
