---
import fincaElMilagro from "../../assets/images/cuadro2.png";
---

<section
  class="bg-primary px-6 py-16 lg:px-8 leading-relaxed text-pretty flex flex-col items-center gap-4"
>
  <article
    class="card bg-bgwhite p-8 lg:p-20 lg:mt-8 flex flex-col items-center gap-1 text-center container mx-auto "
  >
    <h2 class="text-4xl lg:text-5xl 2xl:text-6xl font-bold text-primary italic">
      Nosotros
    </h2>

    <p class="text-primary text-lg lg:text-xl 2xl:text-2xl mt-6">
      Creemos que el amor verdadero no consiste solamente en encontrarse, sino
      en decidir caminar cada día hacia un mismo propósito.
    </p>

    <p
      class="text-primary italic font-bold text-xl lg:text-2xl 2xl:text-3xl mt-6"
    >
      “Y si alguno prevaleciere contra uno, dos le resistirán; y cordón de tres
      dobleces no se rompe fácilmente.”<br />
      <span class="mt-4">Eclesiastés 4:12</span>
    </p>

    <img src={fincaElMilagro.src} alt="Finca El Milagro" class="mt-2" />

    <p class="text-primary text-lg lg:text-xl 2xl:text-2xl mt-6">
      Nuestro deseo no es solamente unir nuestras vidas. Es permitir que Cristo
      sea quien sostenga cada uno de nuestros pasos. <br />
      Porque creemos que el matrimonio más fuerte no es el que se apoya únicamente
      en dos personas, sino el que encuentra su firmeza en Dios.
    </p>
  </article>
</section>
