---

---

<section class="bg-[#360D13] h-dvh">
  <div class="text-white container mx-auto grid place-items-center h-full px-6">
    <div
      class="text-center text-2xl md:text-3xl lg:text-4xl 2xl:text-5xl leading-relaxed border-2 border-white p-8 md:p-18 h-[90%] w-full flex gap-5 flex-col justify-center font-serif"
      id="welcome-text"
    >
      <p>
        No somos dos personas que decidieron <span class="italic font-bold"
          >caminar juntas</span
        >.
      </p>
      <p>
        Somos tres hilos <span class="italic font-bold">entrelazados por Dios</span> para formar
        un cordón que el tiempo <span class="italic font-bold">no podrá romper.</span>
      </p>
    </div>
  </div>
</section>

<style>
  #welcome-text {
    animation: fadeIn 1s ease-in;
    border-radius: 50px;
    corner-shape: scoop;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
</style>
